/*********** Module Spacer ***********/
.module-spacer--extra-extra-small {
  height: 12px
}
.module-spacer--extra-small {
  height: 12px
}
.module-spacer--small {
  height: 20px
}
.module-spacer--medium {
  height: 32px
}

.c-main {
  padding: 96px 0;
}

.c-section-container {
  margin: 0 auto;
  max-width: 400px;
  padding: 1rem;
  height: auto;
  width: calc(100% - 2rem);
}

.c-section-tabs {
  margin: 1.5rem auto;
  padding: 1rem;
  max-width: 520px;
  width: calc(100% - 2rem); 
}