/*********** Module Spacer ***********/
.module-spacer--extra-extra-small {
  height: 12px
}
.module-spacer--extra-small {
  height: 12px
}
.module-spacer--small {
  height: 20px
}
.module-spacer--medium {
  height: 32px
}

.c-main {
  padding: 96px 0;
}

.c-section-container {
  margin: 0 auto;
  max-width: 400px;
  padding: 170px 0 265px;
  height: auto;
  width: calc(100% - 2rem);
}

.c-section-tabs {
  margin: 1.5rem auto;
  padding: 1rem;
  max-width: 520px;
  width: calc(100% - 2rem); 
}


.u-text-center {
  text-align: center;
}

.u-text__headline {
  color: #5E6C84;
  font-size: 1.563rem;
  margin: 0 auto 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 2;
}

/*
 * Gitlab color scale
 */

.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-gitlab-1 {
  fill: #e1f5fe;
}
.react-calendar-heatmap .color-gitlab-2 {
  fill: #b3e5fc;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #81d4fa;
}
.react-calendar-heatmap .color-gitlab-4 {
  fill: #4fc3f7;
}
.react-calendar-heatmap .color-gitlab-5 {
  fill: #29b6f6;
}
.react-calendar-heatmap .color-gitlab-6 {
  fill: #bbdefb;
}
.react-calendar-heatmap .color-gitlab-7 {
  fill: #90caf9;
}
.react-calendar-heatmap .color-gitlab-8 {
  fill: #64b5f6;
}
.react-calendar-heatmap .color-gitlab-9 {
  fill: #42a5f5;
}
.react-calendar-heatmap .color-gitlab-10 {
  fill: #2196f3;
}
.react-calendar-heatmap .color-gitlab-11 {
  fill: #1e88e5;
}
.react-calendar-heatmap .color-gitlab-12 {
  fill: #1976d2;
}
.react-calendar-heatmap .color-gitlab-13 {
  fill: #1565c0;
}
.react-calendar-heatmap .color-gitlab-14 {
  fill: #2962ff;
}
.react-calendar-heatmap .color-gitlab-15 {
  fill: #0d47a1;
}
.react-calendar-heatmap .color-gitlab-16 {
  fill: #c5cae9;
}
.react-calendar-heatmap .color-gitlab-17 {
  fill: #9fa8da;
}
.react-calendar-heatmap .color-gitlab-18 {
  fill: #7986cb;
}
.react-calendar-heatmap .color-gitlab-19 {
  fill: #5c6bc0;
}
.react-calendar-heatmap .color-gitlab-20 {
  fill: #3f51b5;
}
.react-calendar-heatmap .color-gitlab-21 {
  fill: #3949ab;
}
.react-calendar-heatmap .color-gitlab-22 {
  fill: #303f9f;
}
.react-calendar-heatmap .color-gitlab-23 {
  fill: #283593;
}
.react-calendar-heatmap .color-gitlab-24 {
  fill: #3d5afe;
}
.react-calendar-heatmap .color-gitlab-25 {
  fill: #1a237e;
}
.react-calendar-heatmap .color-gitlab-26 {
  fill: #673ab7;
}
.react-calendar-heatmap .color-gitlab-27 {
  fill: #5e35b1;
}
.react-calendar-heatmap .color-gitlab-28 {
  fill: #512da8;
}
.react-calendar-heatmap .color-gitlab-29 {
  fill: #4527a0;
}
.react-calendar-heatmap .color-gitlab-30 {
  fill: #311b92;
}
.react-calendar-heatmap .color-gitlab-31 {
  fill: #9c27b0;
}
.react-calendar-heatmap .color-gitlab-32 {
  fill: #8e24aa;
}
.react-calendar-heatmap .color-gitlab-33 {
  fill: #7b1fa2;
}
.react-calendar-heatmap .color-gitlab-34 {
  fill: #6a1b9a;
}
.react-calendar-heatmap .color-gitlab-35 {
  fill: #4a148c;
}
.react-calendar-heatmap .color-gitlab-36 {
  fill: #e91e63;
}
.react-calendar-heatmap .color-gitlab-37 {
  fill: #d81b60;
}
.react-calendar-heatmap .color-gitlab-38 {
  fill: #c2185b;
}
.react-calendar-heatmap .color-gitlab-39 {
  fill: #ad1457;
}
.react-calendar-heatmap .color-gitlab-40 {
  fill: #880e4f;
}
.react-calendar-heatmap .color-gitlab-41 {
  fill: #f44336;
}
.react-calendar-heatmap .color-gitlab-42 {
  fill: #e53935;
}
.react-calendar-heatmap .color-gitlab-43 {
  fill: #d32f2f;
}
.react-calendar-heatmap .color-gitlab-44 {
  fill: #c62828;
}
.react-calendar-heatmap .color-gitlab-45 {
  fill: #b71c1c;
}
.react-calendar-heatmap .color-gitlab-46 {
  fill: #ff5722;
}
.react-calendar-heatmap .color-gitlab-47 {
  fill: #f4511e;
}
.react-calendar-heatmap .color-gitlab-48 {
  fill: #e64a19;
}
.react-calendar-heatmap .color-gitlab-49 {
  fill: #d84315;
}
.react-calendar-heatmap .color-gitlab-50 {
  fill: #ff3d00;
}
