/*********** Module Spacer ***********/
.module-spacer--extra-extra-small {
  height: 12px
}
.module-spacer--extra-small {
  height: 12px
}
.module-spacer--small {
  height: 20px
}
.module-spacer--medium {
  height: 32px
}

.c-main {
  padding: 96px 0;
}

.c-section-container {
  margin: 0 auto;
  max-width: 400px;
  padding: 170px 0 265px;
  height: auto;
  width: calc(100% - 2rem);
}

.c-section-tabs {
  margin: 1.5rem auto;
  padding: 1rem;
  max-width: 520px;
  width: calc(100% - 2rem); 
}


.u-text-center {
  text-align: center;
}

.u-text__headline {
  color: #5E6C84;
  font-size: 1.563rem;
  margin: 0 auto 1rem;
}

/*
 * Gitlab color scale
 */

.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #acd5f2;
}
.react-calendar-heatmap .color-gitlab-5 {
  fill: #7fa8d1;
}
.react-calendar-heatmap .color-gitlab-7 {
  fill: #49729b;
}
.react-calendar-heatmap .color-gitlab-10 {
  fill: #254e77;
}